*{
  margin:10px;  
  font-family:Suisse, sans-serif;
}

html{
  background-color: #02021e;
}
/* Header Section(Start) */

.header_logo{
  margin:16px 0px;
}

.header{
  border-top:1px solid  #fffc;
  border-bottom:1px solid #fffc;
  display:flex;
  justify-content: space-between;
  margin:20px 60px;
}

.navbar_menu{
  text-align:center;
  display:flex;
  justify-content: space-between;
  width:725px;
  color:white;
  text-transform: uppercase;
  margin: 10px 5px;
  padding:5px 5px;
  font-weight: 300;
}

.navbar_menu a{
  text-decoration:none;
  color:white;
  font-weight: 500;
  font-size:15px;
}

.navbar_menu a:hover {
  border-bottom: 1px solid pink;
}

.Contact_Us a{
  text-decoration: none;
}

.Contact_Us_Button{
  height:45px;
  width: 175px;
  margin:10px ;
  padding:5px;
  border-radius: 200px;
  text-transform: uppercase;
  text-align:center;
  font-weight: 550;
  font-size:15px;
  cursor:pointer;
  background-color: white;
}

.navbar_menu_section{
  display:flex;
  text-transform:uppercase;
}
/* Header Section(End) */


/* Main Section(Start) */
/* Top Rank portion(Start) */
.Top_Rank{
  background-image: url(https://cdn.prod.website-files.com/63f38a8c92397a024fcb9ae8/6478406e98d928dcf090e1ca_bg-card-hero_tablet.webp);
  width:55%;
  background-size: 100% 100%;
  flex-direction: column;
  display: flex;
  position: relative;
  margin:30px;
  padding: 2.5rem 1.5rem 1.5rem;
}

.Top_Rank_percentage{
  color:#fdc448;
  margin:0;
  padding:0;
}

.Top_Rank_Last_Section{
  border-top: .0625rem solid #ffffff4d;
}

.Top_Rank_Text{
  margin-top:15px;
  padding:5px 10px;
  color:white;
  font-size: 80px;
  text-transform: uppercase;
}

.Top_Rank_Last_Section{
  display:flex;
  justify-content: space-between;
  margin:0;
  padding:0;
}

.Top_Rank_Last_Section_text {
  display:flex;
  font-size: 20px;
}

.Top_Rank_Last_Section_image{
    height:75px;
    margin:0px;
    margin-top: 15px;
    padding:0px;
}

.Top_Rank_Last_Section_explain_text{
  color:white;
  display:flex;
  height:100px;
}

.request_portion{
  text-transform: uppercase;
  text-align:end;
  margin-left:190px;
  justify-content:end;
}

.request_button{
    height:45px;
    width: 200px;
    text-transform: uppercase;
    text-align:center;
    font-weight: 550;
    font-size:12px;
    background-color: #fdc448;
    border:none;
    border-radius: 200px;
    
}
/* Top Rank portion(End) */
/* For Top rank and video playing section(start) */
.side_by_side_first_two_section{
  display:flex;
  width:100%;
}
/* For Top rank and video playing section(End) */

/* Video Playing(Start) */
.video_playing_section{
  text-align:start;
  display:flex;
  justify-content: space-between; 
}

.video_upload{
  width:92%;
  display:flex;
}
/* Video Playing(End) */
/* Trusted By-Logo(Start) */ 
.trusted{
  margin:40px;
  border: 0.5px solid #34354a;
  border-radius: 35px;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}
.trusted_title_wrap{
  color:  #ffffff80;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}
.trusted_title{
  background-color: var(--blue-dark);
  position: relative;
}

.columns.mod--trusted{
  align-items: center;
  font-size: 1rem;
}
.columns {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}
.columns__col {
  flex: 1;
}

.runlogo__img.is--nokia {
  width: 7.375em;
}

.runlogo__img.is--bumble {
  width: 9.0625em;
}

.runlogo__img.is--schibsted {
  width: 8.75em;
}
.runlogo__img.is--opera {
  width: 7.2em;
}
.runlogo__img.is--bonterra {
  width: 10.6875em;
}
.runlogo__img.is--zoom {
  width: 7em;
}

.runlogo__img {
  flex: none;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img {
  max-width: 100%;
  display: inline-block;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
/* Trusted By-Logo(End) */ 
/* Trusted By-Details(Start) */




/* Main Section(End) */
