/* Universal Use */
*{
  margin:10px;
  font-family:Suisse, sans-serif;
}
/* for main html tag full portion */
html{
  background-color: #02021e;
}

/* Header Section(Start) */
.image{
  margin:10px 0px;
}

.halo-header{
  border-top:1px solid  #fffc;
  border-bottom:1px solid #fffc;
  display:flex;
  justify-content: space-between;
  margin:20px 60px;
}

.nav-menu{
  text-align:center;
  display:flex;
  justify-content: space-between;
  width:725px;
  color:white;
  text-transform: uppercase;
  margin: 10px 5px;
  padding:5px 5px;
  font-weight: 300;
}

.nav-menu a{
  text-decoration:none;
  color:white;
  font-weight: 500;
  font-size:15px;
}

.nav-menu a:hover {
  border-bottom: 1px solid pink;
}

.call button a{
  text-decoration: none;
}

button{
  height:45px;
  width: 175px;
  margin:10px ;
  padding:5px;
  border-radius: 200px;
  text-transform: uppercase;
  text-align:center;
  font-weight: 550;
  font-size:15px;
  cursor:pointer;
  background-color: white;
}

.service{
  display:flex;
  text-transform:uppercase;
}
/* Header Section(End) */

/* Main Section(Start) */
.home-container{
  background-image: url(https://cdn.prod.website-files.com/63f38a8c92397a024fcb9ae8/6478406e98d928dcf090e1ca_bg-card-hero_tablet.webp);
  width:60%;
  background-size: 100% 100%;
  flex-direction: column;
  display: flex;
  position: relative;
  margin:10px ;
  /* padding:5px 10px; */
  padding: 2.5rem 1.5rem 1.5rem;
}
.text-color-yellow{
  color:#fdc448;
}
.home-cta{
  border-top: .0625rem solid #ffffff4d;
}
.home-heading{
  margin:5px 5px;
  padding:5px 10px;
  color:white;
  /* line-height: 1; */
  font-size: 80px;
  margin-top: 0;
  margin-bottom:0;
  padding:1px;
  text-transform: uppercase;
}
.home-cta{
  display:flex;
  justify-content: space-between;
}

.home-cta__block.is--1 {
  max-width: 17rem;
  display:flex;
  font-size: var(--14);
}
.home-cta__block.is--1_image{
    height:55px;
    /* width:45px; */
}
.text{
  color:white;
  display:flex;
  width:800px;
  /* margin:3px; */
}
.Request_portion{
  text-transform: uppercase;
  text-align:end;
  
}
.request_button{
  height:45px;
    width: 275px;
    /* margin:10px ;
    padding:5px; */
    /* border-radius: 200px; */
    text-transform: uppercase;
    text-align:center;
    font-weight: 550;
    font-size:12px;
    background-color: #fdc448;
    
}
/* Main Section(End) */
